@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; /*For bookmark links*/
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}
main{
  padding: min(5em, 7%);
}
main p{
  margin-top: .35em;
}
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
}
nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;
}
nav li{
  display: flex;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--text-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color); 
  color: #ffffff; 
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1; 
  pointer-events: auto; 
  outline: 3px solid #ffffff; 
}


@media screen and (max-width: 700px){
  #open-sidebar-button, #close-sidebar-button{
    display: block;
    text-decoration: none;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  nav a.active-link{
    border-bottom: none;
  }
  nav .home-li{
    margin-right: unset;
  }
  
  P{
    font-family: 'Segoe UI';
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  span{
    width: auto;
    font-weight: 800;
    font-size: 21px;
    color:rgb(255, 0, 170);
    letter-spacing: 2px;
  }

  /*///////////////////////////////////////////////////////*/
/**
*!  CAROUSEL con imagenes   //////    CAROUSEL con imagenes   //////
*/
.container-slider{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  justify-items: center;
  align-content: center;
  text-decoration: none;
}

.container-carousel {
  position: relative;
  width: 96.5%;
  height: auto;
  background-color: #11121a;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  overflow: hidden;

}

.carruseles {
  width: 360%;
  height: 100%;
  display: flex;
  padding: 0;
}

.slider-section {
  width: calc(100% / 3);
  height: 350px;
}

.slider-section img {
  width: 80%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  border-radius: 15px;
}

/**
*?  BUTTON LEFT-RIGHT   ////////////  BUTTON LEFT-RIGHT   ////////////
*/

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0,-50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #333333d4;
  color: #fff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.info-products{
  width: 95%;
  height: auto;
}
.name-product{
  width: 100%;
  height: auto;
  color: #f0f0f0;
  display: flex;
  text-align: left;
  margin: 17px 0 17px 0;
  letter-spacing: 1.5px;
  font-size: 27px;
  font-family: 'Segoe UI';
  font-weight: 400;
}
.category{
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 1.4px;
}
.cod {
  width: 100%;
  height: auto;
  font-size: 13px;
  text-align: left;
  margin: 0px;
  font-weight: 400;
  color: #c9c9c9;
  letter-spacing: 1.4px;
}
.price-product{
  width: 100%;
  height: auto;
  text-align: left;
  margin: 17px 0 18px 0;
  font-family: 'Segoe UI';
  color: #f0f0f0;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 2px;
}

buttom{
  border: 0;
  color: #fff;
  background-image: linear-gradient(
    150deg,
    #9500ff,
    #09f,
    #00DDFF
    );
  border-radius: 8px;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
}

buttom .open-buy {   
  background-color: #0b0d15;
  padding: 16px 24px;
  border-radius: 6px;
  transition: .3s;
  letter-spacing: 2.5px;
}
a{
  text-decoration: none;
  color: #fff;
}
buttom:hover .open-buy{
  background: none;
}

button:active{
  transform: scale(0.9); 
  color: #fff;
}

/**
*!  TARGETA DE PRESENTACION   //////////    TARGETA DE PRESENTACION   //////////
**  FONDO ANIMADO!!!
*/


.content{
  width: 100%;
  height: auto:
  margin: 0;
  padding: 0;
  justify-items: center;
}

.card{
  width: 95%;
  margin-top: 17px;
  margin-bottom: 20px;
  padding: 1.3em;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.title-card{
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.text-card{    
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: left;
  color: #a2a5b3;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
  }
.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  }

.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}