@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; /*For bookmark links*/
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}
main{
  padding: min(5em, 7%);
}
main p{
  margin-top: .35em;
}
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
}
nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;
}
nav li{
  display: flex;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--text-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color); 
  color: #ffffff; 
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1; 
  pointer-events: auto; 
  outline: 3px solid #ffffff; 
}


main{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #11121a;
  justify-content: center;
  display: flex;
}

.container-all{
  width: 90%;
  height: auto;
  margin-top: 100px;
}

.portada{
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  color: #fff;
  align-content: center;
  justify-items: center;
  border: 1px solid cyan;
  border-radius: 17px;
background: linear-gradient(45deg,red,blue,rgb(128, 0, 79),black);
background-size: 400% 400%;
position: relative;
animation: cambiar 10s ease-in-out infinite;
}

h2{
  width: 50%;
  height: 50%;
font-size: 27px;
letter-spacing: 2px;
border: solid 3px #ffffff;    
border-radius: 25px;
transform: translate(90%-90%);
  align-content: center;
  justify-items: center;
  text-align: center;
}


@keyframes cambiar{
0%{background-position: 0 50%;}
50%{background-position: 100% 50%;}
100%{background-position: 0 50%;}
}

/*////////////////////////////////*/

.header-article{
  width: auto;
  height: 54px;
  padding: 0;
  margin-bottom: 50px;
  align-content: center;
  justify-items: center;
  border-radius: 17px;    
  box-shadow: -10px 22px 30px -15px rgb(139, 0, 0);    
}

h3{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: darkcyan;
  font-size: 22px;
  font-weight: 800;
  font-family: "Segoe UI";
  letter-spacing: 3px;
}

.article{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-article{
  width: 22.4%;
  height: 60%;
  margin: 0 9px 02.5% 9px;
  padding: 0;
  align-content: center;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 1px rgb(35, 35, 35);    
}

.img-box{
  width: auto;
  height: auto;
  margin: auto;
  padding: 0;
  align-content: center;
}

img{
  width: 100%;
  height: auto;
  padding: 0;
  margin: auto;
  display: block;
}

.container-box{
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container-price{
  width: 100%;
  height: 37px;
  padding: 0;
  margin:0;
  border-radius: 7px;
  align-content: center;
  justify-items: center;
  box-shadow: -10px 22px 30px -15px rgb(35, 35, 35)y;    
}

h4{
  color: rgb(14, 149, 14);
  font-family: "Segoe UI";
  font-size: 23.5px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.container-info{
  width: 100%;
  height: 70px;
  margin-bottom: 4px;
  padding: 0;
  border-radius: 7px;
}

p{
  color: #191919;
  text-decoration: none;
  letter-spacing: 1.5px;
  text-align: center;
}

.container-buy{
  width: auto;
  height: 25px;
  margin-bottom: 4px;
  padding: 0;
  background: blue;
  border-radius: 15px;   
  justify-items: center;
  align-content: center;
}

.container-buy:hover{
  background: darkblue;
}


h5{
  margin: 0;
  padding:0;
  color:#cccccc;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  font-family:'Segoe UI';
  font-size: 13px;
  font-weight: 700;
}


/**
**MEDIA QUERIES   MEDIA QUERIES   MEDIA QUERIES   MEDIA QUERIES   MEDIA QUERIES   MEDIA QUERIES
*/


@media screen and (max-width: 700px) {
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  nav a.active-link{
    border-bottom: none;
  }
  nav .home-li{
    margin-right: unset;
  }
  .logo{
    font-family: 'Segoe UI';
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  span{
    width: auto;
    font-weight: 800;
    font-size: 21px;
    color:rgb(255, 0, 170);
    letter-spacing: 2px;
  }
/**

** MAIN   MAIN    MAIN    MAIN

*/

  .container-all{
    width: 97.5%;
    height: 0;
    padding: 0;
    margin: 0;
}

.portada{
    width: auto;
    height: 32vh;
    margin-bottom: 13px;
    border: none;
    border-radius: 08px;
}

h2{
    width: auto;
    height: '';
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: 3px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 32px;
}

.header-article{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 1px 10px 12px -9px rgb(35, 35, 35);
}

h3{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkgrey;
    text-align: center;
    font-family: Poppins, 'Segoe UI';
    font-weight: 500;
    letter-spacing: 5px;
}

.article{
    width: auto;
    height: auto;
    border: none;
    display: flex;
    align-content: center;
    justify-items: center;
}

.box-article{
    width: 48.5%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
    align-content: center;
    justify-items: center;
    border: none;
    background:rgba(0, 0, 0, 0.5);
}

h4{
    width: 100%;
    height: auto;        
    box-sizing: border-box;
    color: #FFF; 
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.img-box{
  width: 95%;
  height: auto;
}

.container-info{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 4px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

P{
  color: #fff;
  margin: none;
  padding: none;
  border: none;
}

.container-buy{
    width: auto;
    height: auto;
    margin: 0 12px 4px 12px;
    padding: 5px;
}
}
